@model ParentCalendarVM

@{
    ViewBag.Title = "Redigera tider";
}

@{
    string FormatTimeSpan(TimeSpan timeSpan)
    {
        return string.Format("{0:00}:{1:00}", timeSpan.Hours, timeSpan.Minutes);
    }
}
<center>
    <p class="listheadersCenter">@Model.FirstName Schema</p>


    @for (int i = 0; i < Model.Weekdays.Length; i++)
    {
        <p class="listheadersCenterSmallMinMargin">@Model.Weekdays[i]</p> <br />
        <div class="formContainer" id="formDropOff" style="display: inline-block">
            <form asp-controller="Parent" asp-action="UpdateCalendar" asp-route-id="@Model.ChildId" asp-route-weekDay="@i">
                <select class="StyleSelect" onchange="this.form.submit()" name="dropOffTime">
                    @foreach (var item in Model.AllTimes)
                    {
                        @if (Model.DropOffTimes[i] == item)
                        {
                            <option selected value="@item">@FormatTimeSpan(item)</option>
                        }
                        else
                        {
                            <option value="@item">@FormatTimeSpan(item)</option>
                        }
                    }
                </select>
            </form>
        </div>
        <div class="formContainer" id="formPickUp" style="display: inline-block">
            <form asp-controller="Parent" asp-action="UpdateCalendar" asp-route-id="@Model.ChildId" asp-route-weekDay="@i">
                <select class="StyleSelect" onchange="this.form.submit()" name="pickupTime">
                    @foreach (var item in Model.AllTimes)
                    {
                        @if (Model.PickupTimes[i] == item)
                        {
                            <option selected value="@item">@FormatTimeSpan(item)</option>
                        }
                        else
                        {
                            <option value="@item">@FormatTimeSpan(item)</option>
                        }
                    }
                </select>
            </form>
        </div>
    }
    <br />
    <br />
    <br />

    <a style="font-size:18px;" href="/Parent/Index">Till Start</a>
    <br />
    <br />
    <br />

</center>
