@model ParentStartVM[]
@{
    string FormatTimeSpan(TimeSpan? timeSpan)
    {
        return timeSpan.HasValue ? string.Format("{0:00}:{1:00}", timeSpan.Value.Hours, timeSpan.Value.Minutes) : string.Empty;
    }
}

@{
    ViewBag.Title = "Tider idag";
}

<div class="Everything" style="text-align:center">

    <p id="GetDay" class="listheadersCenter"></p>
    @foreach (var item in Model)
    {
        <p class="listheadersCenter">@item.FirstName</p>

        <form asp-controller="Parent" asp-action="Report" asp-route-id="@item.Id">

            <div class="childListRow">
                <div class="NameItem">Ska lämnas </div><div class="TimeItem">Kl: @FormatTimeSpan(item.DropOfTime)</div>

                <input class="ButtonStyle" type="submit" value="Anmäl sen/sjuk" />
            </div>

            <div class="childListRow">
                <div class="NameItem">Ska hämtas </div> <div class="TimeItem">Kl: @FormatTimeSpan(item.PickupTime)</div>
            </div>
        </form>
    }

    <p class="listheadersCenter">Ändra schema?</p>
    @foreach (var item in Model)
    {
        <a asp-controller="Parent" asp-action="Calendar" asp-route-id="@item.Id"><input class="ButtonStyleLargeAutoSize" type="button" value="@item.FirstName" /></a>
    }
    <br />
    <br />
    <form asp-controller="Login" asp-action="LogOut"><input class="ButtonStyle" type="submit" value="Logga ut" /></form>
    <br />
    <br />
</div>
