@model ParentStartVM
@{
    string FormatTimeSpan(TimeSpan timeSpan)
    {
        return string.Format("{0:00}:{1:00}", timeSpan.Hours, timeSpan.Minutes);
    }
}
<center>
    Parent<br />
    <br />
    <p>Lämna</p>
    @foreach (var item in Model.ChildItems)
    {
        if (item.IsActive)
        {
            <form asp-controller="Parent" asp-action="Report" asp-route-id="@item.Id">
                <span style="color:blue">
                    @item.FirstName @FormatTimeSpan(item.DropOfTime)
                </span>
                <input type="submit" value="Avvikelse" />
                <br />
            </form>
        }
        else
        {
            <form asp-controller="Parent" asp-action="Report" asp-route-id="@item.Id">
                <span style="color:gray">
                    @item.FirstName @FormatTimeSpan(item.DropOfTime)
                </span>
                <input type="submit" value="Avvikelse" />
                <br />
            </form>
        }
    }

    <p>Hämta</p>
    @foreach (var item in Model.ChildItems)
    {
        if (item.IsActive)
        {
            <form asp-controller="Parent" asp-action="Report" asp-route-id="@item.Id">
                <span style="color:blue">
                    @item.FirstName @FormatTimeSpan(item.PickupTime)
                </span>
                <input type="submit" value="Avvikelse" />
                <br />
            </form>
        }
        else
        {
            <form asp-controller="Parent" asp-action="Report" asp-route-id="@item.Id">
                <span style="color:gray">
                    @item.FirstName @FormatTimeSpan(item.PickupTime)
                </span>
                <input type="submit" value="Avvikelse" />
                <br />
            </form>
        }
    }

    <p>Ändra kalender</p>
    @foreach (var item in Model.ChildItems)
    {
        <a asp-controller="Parent" asp-action="Calendar" asp-route-id="@item.Id"><input type="button" value="@item.FirstName" /></a>
        <br />
    }
</center>
