@model ParentReportVM

@{
    ViewBag.Title = "Anmäl sjuk eller sen";
}

<center>
    <p id="GetDay" class="listheadersCenter"></p>

    @if (Model.IsActive)
    {
        <p class="listheadersCenter">Friskanmälan</p>
        <form asp-controller="Parent" asp-action="ReportIllness" asp-route-id="@Model.ChildId"><input class="ButtonStyleLargeAutoSizeIll" type="submit" value="@Model.FirstName är frisk" /></form>
    }
    else
    {
        <p class="listheadersCenter">Sjukanmälan</p>
        <form asp-controller="Parent" asp-action="ReportIllness" asp-route-id="@Model.ChildId"><input class="ButtonStyleLargeAutoSizeIll" type="submit" value="@Model.FirstName är sjuk" /></form>
    }

    <br />
    <p class="listheadersCenter">Anmäl försening</p>
    @if (Model.IsPresent)
    {
        <p class="listheadersCenterSmall" style="margin-top:-10px;">angiven upphämtningstid: @Model.PickupTime</p>
    }
    else
    {
        <p class="listheadersCenterSmall" style="margin-top:-10px;">angiven avlämningstid: @Model.DropOffTime</p>
    }
    @if (Model.MinLate > 0)
    {
        <p class="listheadersCenterSmall"  style="margin-top:-10px; color:red">angiven försening: @Model.MinLate minuter</p>
    }

    <div style="display: inline-block">
        @if (Model.MinLate > 0)
        {
            <input class="ButtonStyleLargeAutoSizeUseless" type="button" disabled value="10 minuter"/>
        }
        else
        {
            <form asp-controller="Parent" asp-action="ReportDelay" asp-route-id="@Model.ChildId" asp-route-delay="10"><input class="ButtonStyleLargeAutoSizeLate" type="submit" value="10 minuter" /></form>
        }
    </div>
    <br />
    <br />
    <div style="display: inline-block">
        @if (Model.MinLate > 10)
        {
            <input class="ButtonStyleLargeAutoSizeUseless" type="button" disabled value="20 minuter" />
        }
        else
        {
            <form asp-controller="Parent" asp-action="ReportDelay" asp-route-id="@Model.ChildId" asp-route-delay="20"><input class="ButtonStyleLargeAutoSizeLate" type="submit" value="20 minuter" /></form>
        }
    </div>
    <br />
    <br />
    <div style="display: inline-block">
        @if (Model.MinLate > 20)
        {
            <input class="ButtonStyleLargeAutoSizeUseless" type="button" disabled value="30 minuter" />
        }
        else
        {
            <form asp-controller="Parent" asp-action="ReportDelay" asp-route-id="@Model.ChildId" asp-route-delay="30"><input class="ButtonStyleLargeAutoSizeLate" type="submit" value="30 minuter" /></form>
        }
    </div>

    <br />
    <br />
    <a style="font-size:18px;" href="/Parent/index">Till startsidan</a>

</center>

@*<div class="modal">
    <div class="modal__box">
        <h3>Är du säker?</h3>
        <p>
            <button type="button">Ja</button>
            <button type="button">Nej</button>
        </p>
    </div>
</div>*@
