@model ParentReportVM

<center>
    <p class="listheadersCenter">Sjukanmäl @Model.FirstName:</p>
   
    <form asp-controller="Parent" asp-action="ReportIllness" asp-route-id="@Model.Id"><input class="ButtonStyleLargeAutoSize"type="submit" value="@Model.FirstName är sjuk" /></form>
    <br />
    <p class="listheadersCenter">Anmäl försening</p>
    @if (Model.DropOffTime.Hours > 0)
    {
        <p class="listheadersCenterSmall">(angiven avlämningstid: @Model.DropOffTime)</p>
    }
    else
    {
        <p class="listheadersCenterSmall">(angiven avlämningstid: @Model.PickupTime)</p>
    }
    <div style="display: inline-block">
        <form asp-controller="Parent" asp-action="ReportDelay" asp-route-id="@Model.Id" asp-route-delay="10"><input class="ButtonStyleLargeAutoSize" type="submit" value="10 minuter" /></form>
    </div>
    <br />
    <br />
    <div style="display: inline-block">
        <form asp-controller="Parent" asp-action="ReportDelay" asp-route-id="@Model.Id" asp-route-delay="20"><input class="ButtonStyleLargeAutoSize" type="submit" value="20 minuter" /></form>
    </div>
    <br />
    <br />
    <div style="display: inline-block">
        <form asp-controller="Parent" asp-action="ReportDelay" asp-route-id="@Model.Id" asp-route-delay="30"><input class="ButtonStyleLargeAutoSize" type="submit" value="30 minuter" /></form>
    </div>

    <br />
    <br />

</center>