@model ParentReportVM

<center>
    Sjukanmäl @Model.FirstName:
    <br/>
    <form asp-controller="Parent" asp-action="ReportIllness" asp-route-id="@Model.Id"><input type="submit" value="@Model.FirstName är sjuk" /></form>
    <br />
Anmäl försening
    @if (Model.DropOffTime.Hours > 0)
    {
        <p>(angiven avlämningstid: @Model.DropOffTime)</p>
    }
    else
    {
        <p>(angiven avlämningstid: @Model.PickupTime)</p>
    }
    <form asp-controller="Parent" asp-action="ReportDelay" asp-route-id="@Model.Id" asp-route-delay="10"><input type="submit" value="10 minuter" /></form>
    <form asp-controller="Parent" asp-action="ReportDelay" asp-route-id="@Model.Id" asp-route-delay="20"><input type="submit" value="20 minuter" /></form>
    <br/>
    <form asp-controller="Parent" asp-action="ReportDelay" asp-route-id="@Model.Id" asp-route-delay="30"><input type="submit" value="30 minuter" /></form>
    <form asp-controller="Parent" asp-action="ReportDelay" asp-route-id="@Model.Id" asp-route-delay="40"><input type="submit" value="40 minuter" /></form>
    <br/>
    <form asp-controller="Parent" asp-action="ReportDelay" asp-route-id="@Model.Id" asp-route-delay="50"><input type="submit" value="50 minuter" /></form>
    <form asp-controller="Parent" asp-action="ReportDelay" asp-route-id="@Model.Id" asp-route-delay="60"><input type="submit" value="60 minuter" /></form>

</center>