@model TeacherStartVM

@{
    ViewBag.Title = "Checka barn";
}

@{
    string FormatTimeSpan(TimeSpan timeSpan)
    {
        return string.Format("{0:00}:{1:00}", timeSpan.Hours, timeSpan.Minutes);
    }
}

<center>

    <div id="notCheckedInList" class="ListOfChildren">
        <p class="listheaders"><b>Ej incheckade (@Model.NotCheckedInChildItems.Length)</b></p>
        @foreach (var item in Model.NotCheckedInChildItems)
        {
            <div class="childListRow">
                <form asp-controller="Teacher" asp-action="Index" asp-route-id="@item.Id">
                    <div class="NameItem">@item.FirstName</div>
                    @if (item.MinutesLate > 0)
                    {
                        <div class="TimeItem" style="color:red">@FormatTimeSpan(item.DropOfTime)</div>
                    }
                    else
                    {
                        <div class="TimeItem">@FormatTimeSpan(item.DropOfTime)</div>
                    }
                    <div class="ButtonItem"><input class="ButtonStyle" type="submit" value="Checka in" /></div>
                    <br />
                </form>
            </div>
        }
    </div>

    <div id="presentChildrenDiv" class="ListOfChildren">
        <p class="listheaders"><b>Incheckade (@Model.CheckInChildItems.Length)</b></p>
        @foreach (var item in Model.CheckInChildItems)
        {
            <div class="childListRow">
                <form asp-controller="Teacher" asp-action="Index" asp-route-id="@item.Id">
                    <div class="NameItem"> @item.FirstName</div>
                    @if (item.MinutesLate > 0)
                    {
                        <div class="TimeItem" style="color:red">@FormatTimeSpan(item.PickupTime)</div>
                    }
                    else
                    {
                        <div class="TimeItem">@FormatTimeSpan(item.PickupTime)</div>
                    }
                    <div class="ButtonItem"><input class="ButtonStyle" type="submit" value="Checka ut" /></div>
                    <br />
                </form>
            </div>
        }
    </div>

    <div id="checkedOutList" class="ListOfChildren">
        <p class="listheaders"><b>Utcheckade (@Model.CheckOutChildItems.Length)</b></p>
        @foreach (var item in Model.CheckOutChildItems)        {

            <div class="childListRow">
                <form asp-controller="Teacher" asp-action="Index" asp-route-id="@item.Id">
                    <div class="NameItem">@item.FirstName </div>   <div class="ButtonItem"><input class="ButtonStyle" type="submit" value="Ångra in- och utcheckning" /></div>
                    <br />
                </form>
            </div>
        }
    </div>
    <br />

    <div id="SickKidsList" class="ListOfChildrenIll">
        <p class="listheaders"><b>Sjuka idag (@Model.SickChildren.Length)</b></p>
        @foreach (var item in Model.SickChildren)
        {
            <div class="childListIllrow">
                    <div class="NameItemIll">@item.FirstName </div>
                    <br />
            </div>
        }
    </div>
    <br />
    <br />

</center>
