@model TeacherStartVM
<center>
    Teacher
    <br />

    <p>Ej incheckade (@Model.NotPresentChildrenCount)</p>
    @*<form asp-controller="Teacher" asp-action="Index">*@
        @foreach (var item in Model.ChildItems)
        {
            if (item.IsPresent == false)
            {
                <p>@item.FirstName @item.DropOfTime<input type="submit" value="Checka in" /></p><br />
            }
        }

        <p>Incheckade (@Model.PresentChildrenCount)</p>
        @foreach (var item2 in Model.ChildItems)
        {
            if (item2.IsPresent == true)
            {
                <p>@item2.FirstName @item2.PickupTime<input type="submit" value="Checka ut" /></p><br />
            }
        }

        <p>Utcheckade (@Model.NotActiveCount)</p>
    @*</form>*@
</center>

